<h1><%= @concert.band %></h1>
<%= flash_message %>

<h3>Details of the concert:</h3>
	
<div class="details_concert">
	<ul>
			<li>Band: <%= @concert.band %></li>
			<li>Venue: <%= @concert.venue %></li>
			<li>City: <%= @concert.city %></li>
			<li>Date: <%= @concert.date %></li>
			<li>Price: <%= @concert.price %> € </li>
			<li>Description: <%= @concert.description %></li>
	</ul>


<div class='comments'>
	<h2>Comments from the users: </h2>
		<ul>
			<% @comments.each do |comment| %>
				<li>
					<% if comment.content.present? %>
						<%= comment.content %>
					<% end %>
				</li>
			<% end %>	
		</ul>
</div>


<div class='submit_comment'>
	<%= form_for [@concert, @comment] do |cmt| %>
		<%= cmt.label :content %>
		<%= cmt.text_field :content %>
		<%= cmt.submit 'Add comment' %>
	<%end%>
</div>

